body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.timer-container, .stopwatch-container {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

#timer-display, #stopwatch-display {
  font-size: 48px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #f30c0c;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ee1249;
  cursor: not-allowed;
}
